* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-size: cover;
    background-position: center;
    font-family: "Kalam", cursive;
}

header,
footer {
    height: 100px;
    font-size: 150%;
    background-color: #ffffffb7;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 200px);
}

.overlay {
    width: 80%;
    height: 80%;
    background: rgba(255, 255, 255, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), 0 0 20px 0 rgb(240, 165, 224);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    border: 1px solid rgba(245, 209, 240, 0.849);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 120%;
    text-align: center;
    color: #000000;
}

button {
    padding: 4% 8%;
    margin: 2%;
    border: 2px solid #000000;
    border-radius: 20px;
    background-color: #fdfdfd00;
    color: #000000;
    font-size: 100%;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #000000;
    color: #fff;
}
